* {
    box-sizing: border-box;
    margin: 0px;
    text-decoration: none;
    --primaryColor: darkseagreen;
    --secondaryColor: cadetblue;
    --tertiaryColor: coral;
    --quartinaryColor: whitesmoke;
/*    border: solid black 1px;*/

}

.pageContainer {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr 5fr;
}

.headerBox {
    background-color: var(--primaryColor);
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
}

#newRecipeBtn {
    margin-right: 200px;
    background-color: royalblue;
}

.titlePageHeader {
    color: whitesmoke;
}

.sidebarBox {
    background-color: var(--secondaryColor);
    grid-column: 1/2;
    grid-row: 2/4;
    padding-top: 25px;
}

.sideMenuItem {
    padding-top: 10px;
    list-style: none;
}

.sideMenuItem > a {
    color: whitesmoke;
    font-size: 24px;
    font-weight: bold;
}

.bodyBox {
    background-color: var(--tertiaryColor);
    grid-column: 2/4;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: 0.5fr 5fr 2fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr;
}

.blogBox {
    background-color: darkgoldenrod;
    grid-column: 2/3;
    grid-row: 2/6;
}

.footer {
    color:blueviolet;
}

.newRecipeInput {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 800px;
    width: 1200px;
    background-color: steelblue;
}

.formHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px;
}