* {
    box-sizing: border-box;
    margin: 0px;
    text-decoration: none;
    --primaryColor: darkseagreen;
    --secondaryColor: whitesmoke;
    --tertiaryColor: cadetblue;
/*    border: solid black 1px;*/

}

.pageContainer {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr 5fr;
}

.headerBox {
    background-color: coral;
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
}

#newRecipeBtn {
    margin-right: 200px;
    background-color: royalblue;
}

.titlePageHeader {
    color: whitesmoke;
}

.sidebarBox {
    background-color: darkseagreen;
    grid-column: 1/2;
    grid-row: 2/4;
    padding-top: 25px;
}

.sideMenuItem {
    padding-top: 10px;
    list-style: none;
}

.sideMenuItem > a {
    color: whitesmoke;
    font-size: 24px;
    font-weight: bold;
}

.bodyBox {
    background-color:cadetblue;
    grid-column: 2/4;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: 0.5fr 5fr 2fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr;
}

.blogBox {
    background-color: darkgoldenrod;
    grid-column: 2/3;
    grid-row: 2/6;
}

.footer {
    color:blueviolet;
}